@use '@carbon/react';

@font-face {
    font-family: 'SkolaSans';
    src: url('../fonts/SkolaSans400.ttf') format("opentype");
}

.message-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 9999;

    >div {
        margin-top: 3px;
    }
}

.grecaptcha-badge {
    visibility: hidden !important;
}

#cookie-consent {
    padding: 1.5% 3%;
    position: fixed;
    background-color: white;
    z-index: 1000;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
    box-shadow: -1px -2px 12px 3px #00000021;
}

#cookie-consent p {
    margin: 0;
    margin-bottom: 1%;
    font-weight: 400;
}

#cookie-consent .op-color {
    background: transparent;
    padding: 0.5% 1.3%;
    border: 1.5px solid #231F20;
}

#cookie-consent .btn-contains {
    display: flex;
    width: 100%;
    justify-content: center;
}

.fade-out {
    opacity: 0;
    display: none !important;
}

@media screen and (max-width: 767px) {
    #cookie-consent {
        padding: 5%;
    }

    #cookie-consent p {
        font-size: 12px;
    }

    #cookie-consent .op-color {
        margin-right: 6%;
        font-size: 11px;
        padding: 2% 3%;
    }
}