
$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.chart-main {
  display: none;
  justify-content: center;

  .wrapper {
    margin-top: 15px;
    position: relative;
    height: 280px;
    width: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;

    .chart-wrapper, .legs-wrapper {
      position: absolute;
    }

    .legs-wrapper {
      z-index: 10;
      left: 10px;
    }

    .chart {
      position: relative;
      height: 400px;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        position: absolute;

        &:nth-child(1) {
          transform: translate(92px, -40px);
        }

        &:nth-child(2) {
          transform: translate(101px,0px);
        }

        &:nth-child(3) {
          transform: translate(69px,61px);
        }

        &:nth-child(4) {
          transform: translate(0px, 0px);
        }
      }
    }

    .legs {
      position: relative;
      height: 400px;
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;

      > img {
        position: absolute;

        &:nth-child(1) {
          transform: translate(140px,-94px);
        }

        &:nth-child(2) {
          transform: translate(157px,-27px);
        }

        &:nth-child(3) {
          transform: translate(126px,61px);
        }

        &:nth-child(4) {
          transform: translate(92px,-130px);
        }
      }
    }

  }

  .text-wrapper {
    margin-left: 15px;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;

    > p {
      margin-bottom: 40px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;

      strong {
        font-size: 34px;
        font-weight: 800;
        line-height: 29px;
        letter-spacing: -2.680000066757202px;
        margin-right: 10px;
      }
    }
  }

  &:not(.xs) {
    display: flex;
    @media screen and (max-width: $carbon-xs-max) {
      display: none;
    }
  }

  &.xs {
    position: relative;
    left: -30px;
    margin-bottom: 90px;

    @media screen and (max-width: $carbon-xs-max) {
      display: flex;
    }

    .wrapper {
      height: 500px;
      width: 220px;
    }

    .text-wrapper {
      margin-top: 4px;
      position: absolute;

      > p {
        margin-bottom: 80px;
        position: relative;

        &:nth-child(1) {
          position: absolute;
          left: -40px;
          top: -25px;
        }

        &:nth-child(2) {
          position: absolute;
          top: 60px;
          left: 30px;
        }

        &:nth-child(3) {
          position: absolute;
          top: 358px;
          left: -55px;
          width: 210px;
        }

        &:nth-child(4) {
          position: absolute;
          top: 430px;
          left: -70px;
        }
      }
    }
  }

}
