@import '../../fonts';

.retailer-main {
  background: #231F20;
  font-family: 'Montserrat';

  &:not(.landing) {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
}

.bg {
  background: #231F20;
}

.Retail-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 4%;

  img{
    margin-right: 1%;
  }
}


