@import '../../fonts';

$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

@keyframes slide {
  0% {
    background-position: 0px 0px;
    opacity: 1;
  }
  15%, 85% {
    opacity: 1;
  }
  70% {
    background-position: 0px 100%;
  }
  100% {
    background-position: 0px 100%;
    opacity: 0;
  }
}

//@keyframes fade-in {
//  0% {
//    opacity: 0;
//  }
//  100% {
//    opacity: 1;
//  }
//}
//
//@keyframes fade-out {
//    0% {
//        opacity: 1;
//    }
//    100% {
//        opacity: 0;
//    }
//}

.landing {
  font-family: 'Montserrat';
  color: #FFFFFF;
  padding: 0;
  background-image: url('../../../images/4611cf073d397ea3b0b57069279bf588.png');
  background-repeat: no-repeat;
  background-position: 37vw 0px;
  background-size: 80vw;
  overflow: hidden;

  @media screen and (max-width: $carbon-md-max) {
    background-image: none;
  }

  .slanted_top {
    position: absolute;
    overflow: hidden;
    margin-top: -50px;
    z-index: 1;
    width: 100%;
    height: 400px;
    background: #ffffff;
    transform: skewY(-7deg);
    transform-origin: 0;

    &.black {
      background: #000000;

      @media screen and (max-width: $carbon-xs-max) {
        display: none;
      }
    }
  }

  .heading-p1 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    min-height: 60vw;
    padding: 25px 20px;
    padding-top: 250px;

    > .animation-graphic-1 {
      opacity: 0;
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: 18.6vw;
      width: 11.2vw;
      transform: rotate3d(1,1,1,-1deg);
      top: 12vw;
      height: 23vw;
      transition: 0.4s opacity ease-in-out;
      //background-position: calc(((100% + (-1 * 12.5vw)) / 12) * var(--n)) 0px;
      //animation: slide 30s linear infinite;

      &.show {
        opacity: 1;
      }

      &.hide {
        opacity: 0;
      }

      &.scroll {
        animation: slide 800ms ease-in-out 1;
      }

      &.f-1 {
        background-image: url('../../../images/loop/1.png');
        --n: 0;
      }

      &.f-2 {
        background-image: url('../../../images/loop/2.png');
        --n: 1;
      }

      &.f-3 {
        background-image: url('../../../images/loop/3.png');
        --n: 2;
      }

      &.f-4 {
        background-image: url('../../../images/loop/4.png');
        --n: 3;
      }

      &.f-5 {
        background-image: url('../../../images/loop/5.png');
        --n: 4;
      }

      &.f-6 {
        background-image: url('../../../images/loop/6.png');
        --n: 5;
      }

      &.f-7 {
        background-image: url('../../../images/loop/7.png');
        --n: 6;
      }

      &.f-8 {
        background-image: url('../../../images/loop/8.png');
        --n: 7;
      }

      &.f-9 {
        background-image: url('../../../images/loop/9.png');
        --n: 8;
      }

      &.f-10 {
        background-image: url('../../../images/loop/10.png');
        --n: 9;
      }

      &.f-11 {
        background-image: url('../../../images/loop/11.png');
        --n: 10;
      }

      &.f-12 {
        background-image: url('../../../images/loop/12.png');
        --n: 11;
      }

      @media screen and (max-width: $carbon-md-max) {
        right: 20.3vw;
        width: 23vw;
        transform: rotate3d(1,1,1,-1deg);
        bottom: 44.5vw;
        height: 43vw;
        top: auto;
      }

      @media screen and (max-width: $carbon-xs-max) {
        bottom: 48.5vw;
        height: 44vw;
      }
    }

    @media screen and (max-width: $carbon-md-max) {
      padding: 25px 20px;
      padding-top: 70px;
      background-image: url('../../../images/4611cf073d397ea3b0b57069279bf588.png');
      min-height: 1115px;
      background-repeat: no-repeat;
      background-position: bottom 40px left -9.5vw;
      background-size: 160vw;
      overflow: hidden;
      position: relative;
    }

    @media screen and (max-width: $carbon-xs-max) {
      min-height: 900px;
    }

    .title {
      font-size: 62px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: 0.1599999964237213px;
      text-align: left;

      @media screen and (max-width: $carbon-xs-max) {
        font-size: 38px;
        font-weight: 800;
        line-height: 44px;
        text-align: left;
      }
    }

    .sub-title {
        @media screen and (max-width: $carbon-xs-max) {
          font-size: 20px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.1599999964237213px;
          text-align: left;
        }
    }

    .description {
        @media screen and (max-width: $carbon-xs-max) {
          font-size: 16px;
          font-weight: 400;
          line-height: 26px;
          letter-spacing: 0.1599999964237213px;
          text-align: left;
        }
    }
  }

  .benefits,
  .chart {
    background-color: #FFFFFF;
  }

  .integration2 {
    background-color: #000000;
  }

  .benefits,
  .integration2,
  .chart {
    position: relative;
    margin: 0;
    padding-bottom: 200px;

    @media screen and (max-width: $carbon-md-max) {
      padding-bottom: 150px;
    }

    @media screen and (max-width: $carbon-xs-max) {
      padding-bottom: 100px;
    }

    .white_box {
      color: #232323;
    }

    .black_box {
      color: #FFFFFF;
    }

    .white_box,
    .black_box {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      z-index: 100;
      position: relative;
      padding: 25px 20px;

      .right {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
      }

      .title {
        text-align: center;
        text-transform: uppercase;
        font-size: 34px;
        font-weight: 800;
        text-transform: uppercase;
        margin-bottom: 80px;

        @media screen and (max-width: $carbon-xs-max) {
          text-align: left;
        }
      }

      .info-box {
        margin-bottom: 50px;

        h2 {
          font-size: 34px;
          font-weight: 800;
          text-transform: uppercase;
        }

        p {
          margin-top: 20px;
          font-size: 22px;
          font-weight: 400;
        }

        ul {
          margin-top: 20px;
          margin-left: 25px;
          list-style-type: disc;

          li {
            margin-top: 10px;
            font-size: 22px;
            font-weight: 400;
          }
        }
      }

      .info-image {
        align-items: center;
        justify-content: center;
        margin: 25px 0px;
        display: none;

        @media screen and (max-width: $carbon-xs-max) {
          display: flex;
        }
      }
    }
  }

  .chart {
    padding-bottom: 100px;
  }

  .integration2 .black_box .info-box h2 {
    text-transform: inherit;
  }

  .data {
    margin: 0 auto;
    margin-top: 120px;
    max-width: 600px;
    width: 100%;

    .item {
      flex: 1;
      display: flex;
      margin-bottom: 15px;

      h1{
        font-size: 18px;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.1599999964237213px;
        text-align: center;
        width: 100%;
      }

      p {
        font-size: 34px;
        font-weight: 800;
        line-height: 29px;

        &:first-child {
          text-transform: uppercase;
          flex: 1;

          @media (min-width: 66rem) {
            min-width: 300px;
          }
        }

        &:last-child {
          text-align: right;
          width: 100px;
        }
      }
    }
  }

  > .title {
    margin-top: 150px;
    font-size: 62px;
    font-family: 'Montserrat';
    font-weight: 900;
  }

  .sub-title {
    margin-top: 30px;
    font-size: 42px;
    font-weight: 400;
    font-family: 'Montserrat';
    max-width: 650px;
  }

  .description {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Montserrat';
    max-width: 650px;
  }

  button {
    background-color: #FFFFFF;
    color: #393939;
  }

  .see-more {
    margin-top: 40px;

    button {
      @media (max-width: 500px) {
        max-width: 100%;
        width: 100%;
        min-width: 100%;
      }
    }
  }

  .buttons {
    margin-bottom: 50px;
    display: flex;
    justify-content: flex-start;

    > a:first-child {
      margin-right: 3%;
    }

    @media (max-width: 500px) {
      margin-top: 40px;

      > a:first-child {
        margin-right: 10px;
        max-width: 100%;
        flex: 1;
      }
    }
  }
}

.retailer-main .slanted_top.black {
  display: inherit;
}


.xs-hidden {
  @media screen and (max-width: $carbon-xs-max) {
    display: none !important;
  }
}
