@import '../../fonts';

$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.letsTalk {
  margin-top: 120px;
  margin-bottom: 20px;
  font-family: 'Montserrat';

  label {
    color: #FFFFFF;
  }

  .left {
    padding: 20px 60px 20px 80px;

    @media (max-width: $carbon-sm-max) {
      padding: 20px 0;
    }

    @media (max-width: $carbon-xs-max) {
      padding: 10px 0;
    }

    .form {
      .title {
        color: #FFFFFF;
        font-weight: 400;
        font-family: 'Montserrat';
        font-size: 42px;
        margin-bottom: 40px;
        margin-top: 0;
      }

      .message textarea {
        width: 100%;
      }

      .privacy .cds--checkbox-label:before {
        border-color: #FFFFFF;
      }

      > div {
        margin-top: 20px;
      }

      .submit {
        background: #FFFFFF;
        color: #231F20;
        width: 50%;
      }
    }
  }
  .right {
    padding-top: 175px;

    @media (max-width: 671px) {
      padding-top: 20px;
    }

    .logo {
      width: 120px;
    }

    > div {
      display: flex;
      color: #FFFFFF;
      margin-top: 15px;

      > div {
        display: flex;
        flex-direction: column;
        margin-left: 15px;

        span {
          font-weight: 400;
          font-family: 'Montserrat';

          &.title {
            font-weight: 700;
            font-size: 18px;
            margin-top: 0;
          }
        }
      }
    }

    .social {
      margin-top: 20px;

      > a {
        margin-right: 15px;

        img {
          height: 20px;
          width: 20px;
        }
      }
    }
  }
}
