.partnership {
  font-family: 'Montserrat';
  color: #FFFFFF;
  margin-top: 85px;
  overflow: hidden;
  background: transparent;
  flex: 1;

  .header {
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 25px;

    @media (max-width: 950px) {
      text-align: left;
    }
  }

  .infos-one{
    display: flex;
    flex-direction: column;
    align-items: self-start;

    .item {
      margin-top: 45px;
      max-width: 49%;

      h2 {
        font-size: 34px;
        font-weight: 800;
        text-transform: uppercase;
      }
      p {
        margin-top: 4%;
        font-size: 20px;
        font-weight: 400;
      }

      ul{
        list-style: unset;
        margin-top: 4%;
        font-size: 20px;
        font-weight: 400;
        margin-left: 5%;
        line-height: var(--cds-body-02-line-height, 1.5);
      }
    }
  }

  .infos-two{
    display: flex;
    flex-direction: column;
    align-items: end;

    .item {
      margin-top: 45px;
      max-width: 46%;

      h2 {
        margin-bottom: 4%;
        font-size: 34px;
        font-weight: 800;
        text-transform: uppercase;
      }

      h3 {
        font-size: 20px;
        font-weight: 800;
        text-transform: uppercase;
        margin-top: 7%;
      }

      p {
        font-size: 20px;
        font-weight: 400;
      }
    }
  }

  .chart-title {
    font-size: 34px;
    font-weight: 800;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;

    @media (min-width: 66rem) {
      margin-top: 150px;
      margin-bottom: 120px;
    }
  }

  .chart-row {
    display: flex;
    flex-direction: column;
    margin-top: 10%;

    @media (min-width: 66rem) {
      flex-direction: row-reverse;
    }

    .chart-info {
      flex: 1;
      display: flex;
      align-items: center;
      font-family: SkolaSans;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      text-align: left;
      margin-bottom: 40px;

      @media (min-width: 66rem) {
        margin-bottom: 0;
      }
    }

    .chart-xs {
      display: block;

      @media (min-width: 66rem) {
        display: none;
      }
    }

    .chart {
      width: 760px;
      display: none;

      @media (min-width: 66rem) {
        display: block;
      }

      .chart-main {
        left: -100px;

        @media (min-width: 66rem) {
          left: -20px;
        }
      }
    }
  }

  .data {
    margin: 0 auto;
    margin-top: 120px;

    @media (min-width: 66rem) {
      width: 600px;
    }

    .item {
      flex: 1;
      display: flex;
      margin-bottom: 15px;

      h1{
        font-size: 31px;
        margin-bottom: 5%;
        font-weight: 800;
        line-height: 29px;
        text-align: center;
      }

      p {
        font-size: 34px;
        font-weight: 800;
        line-height: 29px;

        &:first-child {
          text-transform: uppercase;
          flex: 1;

          @media (min-width: 66rem) {
                min-width: 300px;
          }
        }

        &:last-child {
          text-align: right;
          width: 100px;
        }
      }
    }
  }

  .logos {
    margin-bottom: 40px;
    margin-top: 7%;
    .marquee {
      display: flex;
      flex: 1;

      .marquee__group {
        display: flex;
        justify-content: space-around;
        flex: 1;
        align-items: center;
      }
    }
    .marquee{
      .chanel-prada{
        width: 15%;
      }
      @media screen and (max-width: 575px) {
        display: none;
      }
    }

  }

  .slick-initialized .slick-slide {
    width: 100%;
  }

  .carousel-on-phone{
    display: none;
    @media screen and (max-width: 575px) {
      display: block;
      position: relative;
      left: 63%;
      width: 200%;
      margin: 0 17%;
      top: 8%;
      .grid-section button {
        background-color: #231F20!important;
      }
    }
  }

  .slick-slide img {
    width: 100%;
  }
}


