
.appointment-page {
    font-family: 'SkolaSans', sans-serif;
    padding: 70px 40px;
    background-color: white;
    padding-left: 25vw;
    padding-right: 25vw;

    .logo {
        display: flex;
        justify-content: center;

        img {
            height: 78px;
            width: 130px;
        }
    }

    .header {
        display: flex;
        margin-top: 10px;
        margin-bottom: 15px;

        p {
            flex: 1;
            font-size: 24px;
            font-weight: bold;

            &:first-child {
                text-align: left;
            }

            &:last-child {
                text-align: right;
            }
        }
    }

    .products .header {
        p {
            text-align: left;
        }
    }

    .text-info {
        margin-bottom: 20px;
        margin-top: 20px;

        .highlighted {
            font-weight: 700;
            margin-bottom: 20px;
            margin-top: 20px;
        }
    }

    .time-box {
        background: #323232;
        display: flex;
        padding: 10px 20px;

        .date, .hour {
            display: flex;
            flex-direction: column;
            flex: 1;
            color: #FFFFFF;

            & span:first-child {
                font-size: 18px;
                margin-bottom: 15px;
                font-weight: 600;
            }

            & span:last-child {
                font-size: 12px;
                font-weight: 400;
            }
        }

        .hour span {
            padding-left: 30%;
        }

        .separator {
            margin: 5px 0px;
            width: 1px;
            background: #FFFFFF;
        }
    }

    .dl {
        margin: 20px 0px;

        .label {
            font-size: 18px;
            margin-bottom: 12px;
            font-weight: 600;
        }

        .value {
            font-size: 13px;
            font-weight: 400;
        }
    }

    .header {
        font-size: 24px;
    }

    .button-set {
        display: flex;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .delivery-steps {
        display: flex;
        padding: 10px 50px;
        align-items: center;

        .line {
            flex: 1;
            height: 2.5px;
            background: #323232;
            display: flex;
            justify-content: center;
            align-items: center;

            .circle {
                visibility: hidden;
                height: 10px;
                width: 10px;
                border-radius: 50%;
                background: #323232;
                margin: 0px auto;
                position: relative;
            }

            &.highlighted {
                .circle {
                    visibility: visible;
                }
            }
        }

        .icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            opacity: 0.4;

            img {
                height: 60px;
                width: 60px;
                margin: 0px 10px;
                object-fit: contain;
            }

            .text {
                display: none;
                font-size: 10px;
                font-weight: 600;
                margin-top: 10px;
                text-align: center;
            }

            &.active {
                opacity: 1;

                .text {
                    display: block;
                }
            }
        }
    }

    .note {
        background: #323232;
        padding: 20px 80px;
        display: flex;
        color: #FFFFFF;
        font-size: 18px;
        margin-top: 10px;
        margin-bottom: 20px;

        .exclamation {
            font-size: 64px;
            font-weight: 700;
            margin-right: 20px;
            padding-bottom: 10px;
        }

        .ub {
            font-weight: bold;
            text-decoration: underline;
            padding-bottom: 10px;
        }
    }

    .text-info2 {
        font-size: 18px;
        font-weight: 400;
    }


    .social {
        margin-top: 15px;
        display: flex;
        justify-content: center;

        img {
            margin-left: 15px;
            margin-top: 25px;
            height: 40px;
            width: 25px;
        }

        > a {
            margin: 0px 10px;
        }
    }

    .footer {
        margin-top: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 12px;
        font-weight: 400;

        .help {
            font-size: 20px;
            a {
                color: black;
            }
            > span {
                font-weight: 700;
                text-decoration: underline;
            }
        }

        .email {
            margin-top: 50px;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.3;
            text-align: center;

            a {
                color: #323232;
            }
        }

        .copyright {
            margin-top: 20px;
            font-size: 18px;
            font-weight: 400;
        }
    }
}
