.Retailer_login{
    background-color: #231F20;
    padding: 14%;

    .first-row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;

        img{
            width: 130px;
        }

        .col-text-head{
            margin: 0;
            width: 9%;

            .retailer-head-box{
                background-color: white;
                color: #231F20;
                padding: 9% 7%;

                h1{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    font-family: 'Montserrat';
                    line-height: 44px;
                }
            }
        }
    }

    .first-box{
        width: 23.5%;
        margin-left: 39%;
        margin-top: 1.5%;

        .cds--label{
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 16px;
            color: white;
            font-family: 'Montserrat';
        }
        
        .cds--text-input{
            background-color: #F4F4F4;
        }

        .cds--text-input:focus, .cds--text-input:active {
            outline: 2px solid #ffffff38;
            outline-offset: 1px;
        }

    }

    .login-button{
        text-align: center!important;
        margin-right: 0%!important;
        margin-top: 2%!important;

        .cds--btn--primary, .cds-button {
            width: 15.7rem!important;
            background: #525252!important;
        }

        .cds--btn--primary:hover {
            background-color: #8d8d8d!important;
            color: #fff;
        }
    }


}