.env-section{

    grid-template-columns: none;
    padding: 0;
    background-image: url('../../../images/HomeCustomerSection/env-header.svg');
    background-repeat: no-repeat;
    background-size: cover;

    .overlay-bg{
        padding: 5rem 16rem;
        background-color: #0000008a;
        display: flex;
        flex-direction: column;

        .subhead-section{
            margin: 3%;
            margin-left: 25%;
            display: flex;
            justify-content: space-between;
        }
    }

    .env-header {
        text-align: center;
        h1{
            font-style: normal;
            font-weight: 800;
            font-size: 44px;
            line-height: 46px;
            font-family: revert;
            color: #FFFFFF;
        }
    }

    .env-icon{
            h5{
                font-family: 'SkolaSans';
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                color: #FFFFFF;
            }
    }

    .env-sub-heading{
        padding-right: 40%;
        h5{
            font-family: 'SkolaSans';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
            line-height: 21px;
        }
    }

}