@import '../../fonts';

$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.shipping-section {
    padding:0;
    font-family: 'Montserrat';
    margin-bottom: 800px;
    max-width: 1280px;

    @media screen and (max-width: $carbon-md-max) {
        margin-bottom: 400px;
    }

    @media screen and (max-width: $carbon-sm-max) {
        margin-bottom: 200px;
    }

    .cds--lg\:col-span-4, .cds--lg\:col-span-9, .cds--lg\:col-span-7{
        margin:0;
    }

    .cds--lg\:col-span-6{
        margin:0;
    }

  .shipping-section__left {
    background-color: #231F20;
    color: white;
    padding: 10.7rem 0 9.5rem 1rem;

    @media (max-width: 810px) {
        padding: 10rem 2rem;
      }

      @media (max-width: 375px) {
        padding: 4rem 1rem;
      }

      @media (max-width: 672px) {
        padding: 6rem 2rem 2rem;
      }
    }

  .shipping-section__title,
  .shipping-section__title_2 {
    font-style: normal;
    font-family: 'Montserrat';
    font-size: 42px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;

    & .shipping-section__title_2 {
      margin-bottom: 2rem;
    }
}

  .shipping-section__subtitle {
    font-family: 'Montserrat';
    font-style: normal;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-right: 2rem;
    font-size: 34px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0.1599999964237213px;
    text-align: left;
    padding-right: 23%;


    @media screen and (max-width: 1024px) {
      padding-top: 1rem;
      font-size: 20px;
      line-height: 25px;
    }
  }

  .shipping-section__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.16px;
    margin-bottom: 2rem;
    padding-top: 1rem;
    padding-right: 23%;

    @media (max-width: 1024px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  }

  .shipping-section__button_parent {
    display: flex;
    
    .mail-icon-outer{
      @media screen and (max-width: $carbon-sm-max) {
        width: 100%;
        button{
          width: 100%;
          margin:15px 0 0 0;
        }
      }
    }
    &.mobile {
      display: none;

      @media (max-width: 480px) {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          margin-top: 0;
      }

      .btn2 {
        margin-top: 20px;
      }
      .mail-icon-outer{
        @media screen and (max-width: $carbon-xs-max) {
          width: 100%;
          button{
            width: 100%;
            margin-left: 0;
          }
        }
      }
    }

    @media (max-width: 1024px) {
      margin-top: 4rem;
    }

    @media (max-width: 480px) {
      display: none;
    }
  }

  .shipping-section__button {
    background-color: white;
    color: #393939;
    padding: 1rem 2rem;
    border: none;
    font-family: 'Montserrat';
    border-radius: 0;
    font-weight: 500;
    width: 44%;
    min-width: 300px;
    border: none !important;
    box-shadow: none !important;
    white-space: nowrap;
    @media (max-width: $carbon-xs-max) {
      min-width: 100%;
    }

    &.btn2 {
      margin-left: 10px;
      min-width: 80px;
      width: 80px;

      @media (max-width: 1024px) {
        // width: 180px;
        z-index: 20;
      }

      > p {
        display: none;

        @media (max-width: 1024px) {
          display: block;
        }
      }
    }
  }

  .shipping-column__right {
    position: relative;

    @media screen and (max-width: 480px) {
      display: flex;
      flex-direction: row;
      padding: 1rem;
    }

    .shipping-section__right-img1 {
      margin-top: 124px;
      width: 70%;
      margin-left: 60px;

      @media screen and (max-width: 1024px) {
        width: 60%;
        margin-left: 60px;
      }

      @media screen and (max-width: 480px) {
        margin: 0;
        padding: 0;
        flex: 1;
        width: calc(50vw - 20px);
      }
    }

    .shipping-section__right-img2 {
      position: absolute;
      left: 30%;
      top: 80%;
      width: 60%;
      z-index: 10;

      @media screen and (max-width: 1024px) {
        top: 45%;
        width: 55%;
        left: 37%;
      }

      @media screen and (max-width: 480px) {
        margin: 0;
        padding: 0;
        flex: 1;
        width: calc(50vw - 20px);
        position: inherit;
        top: 0;
        left: 0;
      }
    }
  }

  .shipping-column__below{
    display: none;
    padding-bottom: 3%;

    @media (max-width: 672px) {
      background-color: #231f20;
      display: block;
      .bag-img{
        border-radius: 25px;
        padding: 3%;
        width: 100%;
      }

      .buttons>button:first-child {
        padding: 2% 7%;
        margin-left: 4%;
        margin-right: 15px;
        font-size: 15px;
        width: 78%;
      }

      .buttons{
        margin-top: 18px;
      }
    }

    @media (max-width: 380px) {
      .buttons{
        margin-left: 6%;
        margin-bottom: 4%;
      }
    }
  }

  .shipping-section__right {
    position: relative;
    margin: 0;
    position: relative;
    top: 72%;
    padding: 2% 2% 2% 34%;
    @media screen and (max-width: 1200px) {
      padding: 2% 2% 2% 31%;
      top: 74%;
    }

    @media screen and (max-width: 1100px) {
      padding: 2% 2% 2% 26%;
      top: 77%;
    }

    @media screen and (max-width: 990px) {
      padding: 2% 2% 2% 27%;
      top: 79%;
    }

    @media screen and (max-width: 860px) {
      padding: 2% 1% 2% 25%;
      top: 74%;
    }

    @media screen and (max-width: 793px) {
      padding: 2% 0% 2% 15%;
      top: 76%;
    }
  }

  button {
    background-color: #FFFFFF;
    color: #393939;
  }

  .buttons {

    > button:first-child {
      font-family: 'Montserrat';
      font-weight: 500;
      margin-right: 60px;
      @media screen and (max-width: 660px) {
        padding: 3%;
      }

      @media screen and (max-width: 930px) {
        margin-right: 32px;
      }

      @media screen and (max-width:860px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 793px) {
          margin-right: 4px;
      }
    }

    @media screen and (max-width: 768px) {
        justify-content: center;
        margin-right: 0%;
    }

    @media (max-width: 500px) {
      margin-top: 40px;

      > button:first-child {
        margin-right: 10px;
        max-width: 100%;
        flex: 1;
        font-size: 13px;
      }
    }
  }

}

.image-bag{
  display: none;
  @media (max-width: 768px) {
    display: block;
  }
}

.alignment{
    position: relative;
    left: 30%;
    z-index: 1;
    @media (max-width: 768px) {
      left: 0;
    }
}

.show{
  @media (max-width: 672px) {
    display: block!important;
    margin-top: 2%;
    margin-left: 4%;
    width: 100%;
    border-radius: 1px!important;
  }
  @media (max-width: 370px) {
    width: 85%;
    margin-left: 10%;
  }
}


.assist-me{
  @media (max-width: 991px) {
    justify-content: start!important;
  }
}