@import '../../fonts';

.section-main{
    background-color: #231f20;
    padding: 7% 18% 0% 18%;
    font-family: 'Montserrat';

    @media (max-width: 1050px) {
        padding: 0;
    }

    .CO2-neutral-img{
        text-align: end;
        align-self: center;
        @media screen and (max-width: 575px) {
            margin: 0;
            display: none;
        }
        img{
            @media screen and (max-width: 575px) {
               width: 100%;
            }
        }
    }

    .para-text-two{
        align-self: center;
        margin-left: 14%;
        @media screen and (max-width: 575px) {
            margin: 14px;
        }

        @media screen and (max-width: 640px) {
            margin:7%;
        }
        

        h1{
            color: #fff;
            text-align: end;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 52px;
            @media screen and (max-width: 575px) {
                text-align: end;
            }

            @media screen and (max-width: 640px) {
                text-align: end;
            }
        }
        h5{
            color: #fff;
            text-align: end;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;

            @media screen and (max-width: 575px) {
                text-align: end;
                margin-top: 3%;
            }

            @media screen and (max-width: 640px) {
                text-align:end;
            }
        }
    }

    .Img-Position{
        text-align: center;
        align-self: center;

        img{
            @media screen and (max-width: 920px) {
                width: 100%;
            }

            
            @media screen and (max-width: 675px) {
                width: 70%;
            }

            @media screen and (max-width: 575px) {
                display: none;
            }
        }
    }

    img{
        border-radius: 80px;
    }

    .phone-mountain-img{
        display: none;
        @media screen and (max-width: 575px) {
            display: block;
            margin: 5% 2% 0% 2%;
            img{
                width: 100%!important;
            }
        }
    }

}