@import '../../fonts';

.custom-padding{
    padding: 7% 18% 0%!important;
    font-family: 'Montserrat';
    @media (max-width: 1050px) {
        padding: 0!important;
    }

    .margin-left-11{
        margin-left: 11%!important;
        @media screen and (max-width: 675px) {
            margin-left: 5%!important;
        }
        .margin-left-8{
            margin-left: 8%;
            @media screen and (max-width: 675px) {
                margin-left: 0;
            }
        }
    }

    
    .Img-Position img{
        @media screen and (max-width: 675px) {
            width: 55%;
        }

        @media screen and (max-width: 575px) {
            display: none;
        }
    }

    .CO2-neutral-img{
        @media screen and (max-width: 575px) {
            display: none;
        }
    }

    .phone-mountain-img{
        display: none;
        @media screen and (max-width: 575px) {
            display: block;
            margin: 5% 2% 0% 2%;
            img{
                width: 100%!important;
            }
        }
    }
}
