@import '../../fonts';

$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.cds--wrapper {
  background-color: #231F20;
  height: 4rem;
  z-index: 8000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.cds--header {
  background-color: #231F20;
  flex-direction: row;
  font-family: 'Montserrat';
  justify-content: flex-start;
  height: 4rem;
  border-bottom: none;
  max-width: 1280px;
  margin: 0 1rem;
  position: inherit;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;

  .cds--header__menu-button {
    color: white;
  }

  .cds--header__name {
    color: white;

    @media screen and (max-width: $carbon-md-max) {
      padding: 0 0 0 1rem;
    }

    > .logo-xs {
      display: none;

      @media screen and (max-width: $carbon-xs-max) {
          display: block;
      }
    }

    > .logo {
        display: block;

        @media screen and (max-width: $carbon-xs-max) {
            display: none;
        }
    }
  }

  .cds--header__menu-item {
    background-color: #231F20;
    color: white;
    font-family: 'Montserrat';
    margin-left: 1.2rem;
    margin-right: 1.2rem;

      &:hover{
        background-color: #393939;
        color: white;
      }
  }

  .retailer-toggle {
    padding-right: 1rem;
  }

  .cds--header__navigation {
    display: flex;
    flex-direction: row;

    @media (max-width: $carbon-md-max) {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow-y: auto;
      overflow-x: hidden;

      .menu-items-desktop {
        display: none;
      }

      .nav-icon-mobile {
        display: block;
        margin-left: auto;
      }

      .cds--header__menu-item {
        border-bottom: none;
      }

      .nav-icon {
        display: block;
        margin-left: auto;
      }

      .cds--header__name,
      .cds--toggle {
        display: none;
      }

      .show-menu {
        padding: 2rem 0;
      }
    }
  }

  .show-menu > ul {
    display: flex;
    flex-direction: column;
    background-color: #231f20;
    top: 4rem;
    width: 100%;
    padding: 1rem 0 2rem;
    z-index: 8000;
    left: 0;
    right: 0;
    height: auto;
  }

  .cds--header__menu-item{
      background-color: #231F20;
      color: white;
      font-family: 'Montserrat';
      margin-left: 0 !important;
      margin-right: 0 !important;;
      white-space: nowrap;
      text-align:center;
      padding: 0.5rem 1rem;
      border-bottom: 0;
      transition: all 0.2s ease-in-out;

      @media screen and (max-width: $carbon-md-max) {
        padding: 0.5rem;
      }
    }

    a.cds--header__menu-item:focus {
      border-color: #c0c0c0;
      outline: none;
    }

}

.nav-icon{
  padding: 1rem;

  @media (min-width: $carbon-sm-max) {
    display: none;
  }
}

.cds--header__nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  .cds--header__menu-bar {
    @media (max-width: $carbon-sm-max) {
      flex-direction: column;
    }
  }


  @media (max-width: $carbon-sm-max) {
    &:not(.show-menu) .cds--header__menu-bar {
      display: none;
    }
  }
}

.cus-retailer-toggle {
  .cus-ratailer-toggle__customer,
  .cus-ratailer-toggle__retailer{
    background: transparent;
    color: #FFF !important;
    outline: none;
    box-shadow: none;
    border: none;
    padding: 8px 30px;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }

    &.active {
      border: 1px solid #ffffff;
    }

    @media screen and (max-width: $carbon-md-max) {
      &:not(.active) {
        display: none;
      }
    }
  }
}

.cds--header__nav:before{
  display: none;
}

.cds--toggle__label-text {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  color: #fff;
  margin: 0;
  font-family: 'Montserrat';
}

.cds--toggle__label{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cds--toggle__text{
  display: none;
}

