@import '../../fonts';

$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.cds--wrapper {
  background-color: #231F20;
  height: 4rem;
  position: fixed;
  z-index: 8000;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container {
  overflow-x: hidden;
}

.cds--header {
  background-color: #231F20;
  flex-direction: row;
  font-family: 'Montserrat';
  justify-content: space-between;
  height: 4rem;
  border-bottom: none;
  max-width: 1280px;
  margin: 0 1rem;
  position: inherit;
  top: auto;
  left: auto;
  right: auto;
  width: 100%;

  .cds--header__menu-button {
    color: white;
  }

  .cds--header__name {
    color: white;
  }

  .cds--header__menu-item {
    background-color: #231F20;
    color: white;
    font-family: 'Montserrat';
    margin-left: 1.2rem;
    margin-right: 1.2rem;

      &:hover{
        background-color: #393939;
        color: white;
      }
  }

  .cds--header__menu-bar li:last-child .cds--header__menu-item {
    @media screen and (max-width: $carbon-sm-max) {
      padding-bottom: 2rem;
    }
  }

  .cds--toggle {
    margin-left: 3rem;
  }

  .cds--header__navigation {
    display: flex;
    flex-direction: row;

    @media (max-width: 768px) {
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      overflow-y: auto;
      overflow-x: hidden;

      .menu-items-desktop {
        display: none;
      }

      .nav-icon-mobile {
        display: block;
        margin-left: auto;
      }

      .cds--header__menu-item {
        border-bottom: none;
      }

      .nav-icon {
        display: block;
        margin-left: auto;
      }

      .cds--header__name,
      .cds--toggle {
        display: none;
      }

      .show-menu {
        padding: 2rem 0;
      }
    }
  }

  .show-menu {
    display: flex;
    flex-direction: column;
    background-color: #231F20;
    position: absolute;
    top: 4rem;
    width: 100%;
    padding: 1rem 0;
    z-index: 8000;
    left: 0;
  }

  .cds--header__menu-item{
      background-color: #231F20;
      color: white;
      font-family: 'Montserrat';
      margin-left: 0 !important;
      margin-right: 0 !important;;
      white-space: nowrap;
      text-align:center;
      padding: 0.5rem 1rem;
      border-bottom: 0;
      transition: all 0.2s ease-in-out;
    }

    a.cds--header__menu-item:focus {
      border-color: #c0c0c0;
      outline: none;
    }


    .cds--header__menu-bar {
      @media (max-width: 1060px) {
        flex-direction: column;
      }
  }

}

.nav-icon{
  padding: 1rem;

  @media (min-width: 1060px) {
    display: none;
  }
}

.cds--header__nav:before{
  display: none;
}

.cds--toggle__label-text {
  font-size: .875rem;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 1.125rem;
  color: #fff;
  margin: 0;
  font-family: 'Montserrat';
}

.cds--toggle__label{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cds--toggle__text{
  display: none;
}

