$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.dashboard-template {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @media screen and (max-width: $carbon-sm-max) {
        .cds--progress-step:not(.cds--progress-step--current) {
            display: none;
        }

        .banner {
            display: none;
        }
    }

    .dash-side-nav {
        .cds--side-nav__items{
            padding: 0!important;
        }

        .cds--side-nav__item {
            border: 1px solid #e3e3e3;
            height: 47px;
            .cds--side-nav__link {
                height: 47px;
            }
        }
    }

    .cds--side-nav{
        background-color: #F4F4F4;
        position: relative;
        top: 87px;
        height: fit-content!important;
    }

    .dashboard-nav-section {
        margin-top: 4rem;
        margin-right: 2rem;

        nav {
            background-color: #F4F4F4;
            transition: 0.2s ease-in-out all;
            width: 12rem;

            @media (max-width: $carbon-sm-max) {
                width: 3rem;
            }
        }

        .nav-link {
            border-top: 1px solid #E0E0E0;
            width: auto;

            a {
                text-decoration: none;
                display: block;
                padding: 1rem;
                transition: 0.2s ease-in-out all;

                span {
                    color: #484848;
                    font-family: 'IBM Plex Sans';
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 18px;
                    text-align: left;

                    @media (max-width: $carbon-sm-max) {
                        display: none;
                    }
                }

                svg {
                    color: #484848;
                    display: none;

                    @media (max-width: $carbon-sm-max) {
                        display: block;
                    }
                }

                &:hover,
                &.active{
                    color: #000000;
                    background-color: #e7e7e7;
                }
            }
        }
    }

    .content-section {
        flex: 1;
        margin-top: 1rem;
        max-width: 80%;
        margin-right: 2%;

        @media (max-width: $carbon-sm-max) {
            max-width: 70%;
        }
    }
}

main.retailer-dashboard {
    background: #FAFAFA;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
}

.em-card {
    background: #fff;
    padding: 1.5rem;
    margin: 0;
}

