.driver-history-box {
  margin-top: 5rem !important;
  .style-pay {
    flex-direction: row;
    display: flex;
    div {
      flex: 1;
    }
    padding-top: 20px;
  }
  .wrap-products {
    display: flex;
    flex-wrap: wrap;
    max-height: 400px;
    height: 400px;
    overflow-y: auto;
    overflow-x: auto;
    column-gap: 150px;
  }
}