.search-box {
    display: flex;

    .cds--text-input__field-outer-wrapper {
        justify-content: flex-end;
        width: 257px;
        height: 50px;
        input {
            height: 50px;
        }
    }
}

.header-content-history {
    margin-top: 32px;
    display: flex;
    align-items: center;
    height: 118px;

    .grid-1 {
        display: flex;
        justify-content: flex-end;
        width: auto !important;
        .customBTN {
            background: black !important;
            display: flex !important;
            padding: 0 !important;
            width: 93px !important;
            flex-direction: row !important;
            justify-content: space-evenly !important;
            align-items: center !important;
            line-height: 1px !important;


            &:focus {
                border-color: #231F20;
                box-shadow: inset 0 0 0 1px var(--cds-button-focus-color, var(--cds-focus, #231F20)), inset 0 0 0 2px var(--cds-background, #ffffff);
            }
        }
    }

    .grid-2 {
        display: flex;
        flex-direction: row-reverse;
        flex: 1;
        padding-left: 61px !important;
        width: auto !important;
        height: inherit !important;

        .tile-box {
            margin-right: 1%;
            width: auto;
    
            .cds--tile {
                background-color: #ffffff;
                height: 100%;
                h2 {
                    padding-top: 20px;
                }
            }
        }
    }
}