
.login-container {

    label {
        color: white;
        font-family: "IBM Plex Sans";
    }

    .error {
        color: #DA1E23;
        padding-top: 10px;
        padding-left: 5px;
        font-size: 12px;
    }

    .image-container {
        display: flex;
        // justify-content: flex-end;
        justify-content: center;
    }

    .retailer-head {
        background-color: #fff;
        color: #231f20;
        width: 150px;
        height: 65px;
        padding-top: 13px;
        margin-top: 16px;
    }

    .text-container {
        display: flex;
        justify-content: center;
        padding-left: 5px;
        .cds--text-input-wrapper {
            width: 287px;
            padding-left: 5px;
        }
        .cds--password-input-wrapper {
            width: 288px;
            padding-top: 10px;
        }
    }

    .button-container {
        display: flex;
        justify-content: center;
        padding-left: 5px;
        padding-top: 25px;
        button {
            font-family: "IBM Plex Sans";
            margin-left: 4px;
        }
    }
}
