
.header-content-selected {
    display: flex;

    .grid-2 {
        display: flex;
        justify-content: flex-end !important;
        flex-direction: row !important;
        width: 100%;
        .banner-one {
            background-color: #defbe6;
            display: grid;
            justify-content: center;
            align-content: center;
            width: max-content;
        }
        .banner-two {
            background-color: #fcfdfc;
            display: grid;
            height: 120px;
            width: 220px;
            margin-left: 10px;
        }
    
        .banner-three {
            background-color: #fcfdfc;
            display: grid;
            width: max-content;
            margin-left: 10px;
        }
    }
}
