.selected-item-container {
    display: flex;
    flex-direction: column;

    .item-row {
        padding-bottom: 30px;
    }

    .button-order-prepared {
        display: flex;
        flex-direction: row-reverse;
    }
}