$carbon-xs-max: 31.25em; // 500px
$carbon-sm-max: 42.5em; // 680px
$carbon-md-max: 64em;   // 1024px

.adminTools {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
    margin-top: 3rem;
    margin-right: 1.5rem;

    @media (max-width: $carbon-sm-max) {
        grid-template-columns: repeat(1, 1fr);
    }

    .em-card {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: $carbon-sm-max) {
            margin-top: 1.5rem;
        }

        > svg {
            height: 2rem;
            width: 2rem;
            margin-bottom: 1.5rem;
        }

        > .title {
            font-family: 'IBM Plex Sans';
            font-size: 16px;
            font-weight: 400;
            line-height: 22px;
            text-align: center;
            margin-bottom: 1.5rem;
        }

        > .sub-title {
            font-family: 'IBM Plex Sans';
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            text-align: center;
            color: #5B5959;
            margin-bottom: 2rem;
        }

        > a,
        > a > button{
            width: 100%;
            max-width: 100%;
        }

        .button {
            display: flex;
            justify-content: flex-start;
            align-items: center;

            > svg {
                margin-left: 2rem;
            }
        }
    }
}
