@import '../../fonts';

.landing-page {

    input {
        padding-left: 3px !important;
    }
    background-color: white;
    padding-top: 40px;
    font-family: 'Montserrat';

    p {
        font-size: 22px;
        font-family: 'Montserrat';
    }

    .logo {
        display: flex;
        .store-logo {
            flex: 1;
        }
        .emays-logo {
            display: flex;
            p {
                display: inline;
                font-size: 14px;
                color: #585959;
                padding-right: 10px;
            }
            img {
                height: 19px;
                width: 45px;
            }
        }
        img {
            height: 78px;
            width: 130px;
        }
    }

    .book-appointment {
        padding-top: 25px;

        .next-date-picker {
            padding-top: 20px;
        }

        .date-time-pick {
            padding-top: 20px;
            p {
                font-size: 18px;
                font-family: 'Montserrat';
            }

            .items {
                display: grid;
                grid-template-columns: 1fr 1fr;

                .date {
                    padding-top: 5px;
                    p {
                        font-size: 16px;
                        font-family: 'Montserrat';
                        color: #525252;
                    }
                }

                .time-window {
                    padding-top: 5px;
                    .cds--dropdown .cds--list-box__field {
                        background-color: white;
                        border-bottom: 1px solid #8d8d8d;
                    }
                    p {
                        font-size: 16px;
                        color: #525252;
                    }
                }
            }
        }

        .user-message {
            .cds--text-area {
                min-width: 100%;
            }
        }
    }

    .customize-experience {
        .header {
            font-size: 22px;
            font-family: 'Montserrat';
            padding-top: 30px;
        }

        .checkbox-wait {
            padding-top:10px;
            padding-bottom: 3px;
            font-family: 'Montserrat';
        }

        .checkbox-assist {
            padding-top: 3px;
            padding-bottom: 3px;
            font-family: 'Montserrat';
        }

        .checkbox-basic {
            padding-top: 3px;
            padding-bottom: 3px;
            font-family: 'Montserrat';
        }
    }

    .delivery-address {
        .address {
            display: flex;
            a {
                color: #000;
                font-size: 12px;
            }
            .learn_more {
                margin-left: auto;
            }
        }
        .address_search {
            .geo_search {
                display: flex;
                .search-icon {
                    background-color: #393939;
                    color: #FFF;
                    height: 40px;
                    width: 30px;
                    padding-right: 10px;
                }
                .cds--text-input {
                    background-color: #393939;
                    color: #FFF;
                    border-bottom: none;
                }
                .cds--text-input::placeholder {
                    color: #FFF;
                }
                .cds--text-input:focus {
                    outline: none;
                }
            }
        }
        p.no-service-info {
            color: red;
            font-size: 12px;
        }
        .header {
            font-size: 22px;
            font-family: 'Montserrat';
            padding-top: 30px;
        }

        .address {
            padding-top: 5px;
            p {
                font-size: 16px;
                color: #525252;
            }
        }

        .address-info {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px 20px;
        }

        .delivery-info {
            padding-top: 30px;
        }
    }

    .cds--content-switcher-btn.cds--content-switcher--selected:disabled {
        color: white;
        background: #393939;
    }

}

@media only screen and (max-width: 1056px) {
    .shopping-bag-container {
        // justify-content: left !important;
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .landing-page {
        p {
            font-size: 14px;
        }
        span {
            font-size: 12px;
            text-align: justify;
        }
    }

    .landing-page { 
        .book-appointment { 
            .date-time-pick{
                p {
                font-size: 16px;
                }
                .items{
                    grid-template-columns: 2fr;
                    .date{
                        p{
                            font-size: 12px;
                        }
                    }
                    .time-window{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    } 

}
@media only screen and (max-width: 480px) {
    .landing-page {
        p {
            font-size: 14px;
        }
        span {
            font-size: 12px;
            text-align: justify;
        }
    }

    .address {
        display: flex;
        flex-direction: column;
        .learn_more {
            margin-left: 0px !important;
        }
    }

    .landing-page { 
        .book-appointment { 
            .date-time-pick{
                p {
                font-size: 16px;
                }
                .items{
                    grid-template-columns: 2fr;
                    .date{
                        p{
                            font-size: 12px;
                        }
                    }
                    .time-window{
                        p{
                            font-size: 12px;
                        }
                    }
                }
            }
        }
    } 

}