@import '../../fonts';

.container{
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat';
    padding-bottom: 8px;
    img {
        width: 90px;
        height: 125px;
    }
    .details {
        padding-left: 10px;
        width: 100%;
        .header {
            padding-top: 0;
            display: flex;

            p {
                flex: 1;
                font-size: 14px;
                font-weight: bold;
                font-family: 'Montserrat';
            }

            svg {
                height: 20px;
                width: 20px;
                cursor: pointer;
            }
        }

        .color, .size, .quantity, .price {
            justify-content: space-between;
            p {
                font-size: 15px;
                font-family: 'Montserrat';
                padding-top: 5px;
            }
        }
    }
}
