.container{
    display: flex;
    flex-direction: row;
    padding-bottom: 8px;
    img {
        width: 77px;
        height: 103px;
    }
    .details {
        padding-left: 10px;
        width: 100%;
        .header {
            padding-top: 0;
            p {
                font-size: 14px;
                font-weight: bold;
            }
        }

        .color, .size, .quantity {
            justify-content: space-between;
            p {
                font-size: 15px;
                font-family: 'SkolaSans';
                padding-top: 5px;
            }
        }

        .quantity {
            display: flex;
            flex-direction: row;
        }
    }
}